.row {
    position: relative;
    margin-left: 20px;
    top: 38px;
    color: white;
}
h2 {
    padding-left: 20px;
}
.slider {
    position: relative;
}
.slider_arrow-left {
    background-clip: content-box;
    padding: 20px 0;
    box-sizing: border-box;
    transition: 400ms all ease-in-out;
    cursor: pointer;
    width: 80px;
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.slider_arrow-right {
    padding: 20px 0;
    background-clip: content-box;
    box-sizing: border-box;
    transition: 400ms all ease-in-out;
    cursor: pointer;
    width: 80px;
    z-index: 1000;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.arrow {
    transition: 400ms all ease-in-out;
}
.arrow:hover {
    transition: 400mx all ease-in-out;
    transform: scale(1.5);
}
.slider:hover .slider_arrow-left {
    transition: 400ms all ease-in-out;
    visibility: visible;
}
.slider:hover .slider_arrow-right {
    transition: 400ms all ease-in-out;
    visibility: visible;
}
.slider_arrow-left:hover {
    background-color: rgba(20, 20, 20, 0.5);
    transition: 400ms all ease-in-out;
}
.slider_arrow-right:hover {
    background-color: rgba(20, 20, 20, 0.5);
    transition: 400ms all ease-in-out;
}

.row_poster {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px 0px 20px 0px;
    scroll-behavior: smooth;
}
.row_poster::-webkit-scrollbar {
    display: none;
}
.row_poster {
    object-fit: contain;
    width: 100%;
    max-height: 144px;
    margin-right: 10px;
    transition: transform 450ms;
    border-radius: 4px;
}
.row_poster:hover {
    transform: scale(1.8);
}
.row_posterLarge {
    max-height: 420px;
}
.row_posterLarge:hover {
    transform: scale(1.1);
    opacity: 1;
}
.slider_arrow-left {
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 32px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}
.slider_arrow-right {
    position: absolute;
    top: 0;
    right: 0px;
    height: 100%;
    width: 32px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}
@media screen and (min-width: 1200px) {
    .row_poster {
        max-height: 160px;
    }
    .row_posterLarge {
        max-height: 360px;
    }
}
@media screen and (max-width: 768px) {
    .row_poster {
        max-height: 100px;
    }
    .row_posterLarge {
        max-height: 280px;
    }
}