.row {
  position: relative;
  margin-left: 20px;
  top: 38px;
  color: white;
}

.row h2 {
  padding-left: 20px;
}

.swiper,
.swiper-wrapper,
.swiper-slide {
  overflow: visible !important;
}

.swiper-slide {
  position: relative;
  z-index: 1;
}

.row_slide.is-active {
  z-index: 999;
}

.row_poster_item {
  width: 100%;
  max-height: 144px;
  object-fit: contain;
  border-radius: 6px;

  position: relative;
  z-index: 1;

  transition: transform 450ms ease;
  transform-origin: center;
}

.row_poster_item:hover {
  transform: scale(1.2);
}

.row_poster_item_Large {
  max-height: 420px;
}

.row_poster_item_Large:hover {
  transform: scale(1.2);
}

@media screen and (min-width: 1200px) {
  .row_poster_item {
    max-height: 160px;
  }

  .row_poster_item_Large {
    max-height: 360px;
  }
}

@media screen and (max-width: 768px) {
  .row_poster_item {
    max-height: 100px;
  }

  .row_poster_item_Large {
    max-height: 280px;
  }
}

.swiper-pagination {
  text-align: right !important;
}

.swiper-pagination-bullet {
  background: gray !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: white !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
  z-index: 2000 !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.3rem !important;
  font-weight: 600 !important;
}
